@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins:wght@400;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(202, 226, 222);
  background: linear-gradient(
    90deg,
    rgba(101, 113, 111, 0.045) 100%,
    rgba(19, 182, 214, 0.185) 100%
  );
  /* font-family: "Playfair Display", serif !important; */
  font-family: "Poppins", sans-serif;
}

form {
  font-family: "Poppins", sans-serif !important;
  background-color: white;
}

.letter-circle {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: crimson;
  color: white;
}

.MuiAppBar-colorPrimary {
  background: rgb(54, 58, 102);
  background: linear-gradient(
    90deg,
    rgba(54, 58, 102, 1) 18%,
    rgba(95, 31, 110, 0.9781162464985994) 88%
  );
  color: white !important;
}
.MuiDrawer-paperAnchorLeft {
  background: rgb(54, 58, 102);
  background: linear-gradient(
    90deg,
    rgba(54, 58, 102, 1) 18%,
    rgba(95, 31, 110, 0.9781162464985994) 88%
  );
  color: white !important;
}
a {
  color: white;
  text-decoration: none;
}

.MuiDataGrid-root {
  font-family: "Poppins", sans-serif !important;
}

.MuiSvgIcon-root {
  color: white;
}
.MuiListItem-button:hover {
  background-color: #2a0d7384 !important;
  transform: scale(1.1, 1.1);
  transition: 0.5s ease-in-out;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
